# ignore this file => you'll learn about it in the Bootcamp

# comment the path below when you're ready to push the folder to github

# workshops/01-tidy-code
workshops/02-loops
# workshops/03-coercion-and-truthiness
# workshops/04-reacto-1
# workshops/05-scope
# workshops/06-arrays-i
workshops/07-arrays-ii
workshops/08-reacto-2
workshops/09-objects
workshops/10-recursion-i
workshops/11-recursion-ii

# please do not delete any paths below this line

workshops/01-tidy-code/01-style-me-pretty/style-me-pretty.spec.js
workshops/01-tidy-code/01-style-me-pretty/testem.json
workshops/01-tidy-code/02-just-in-camel-case/just-in-camel-case.spec.js
workshops/01-tidy-code/02-just-in-camel-case/testem.json
workshops/01-tidy-code/03-get-max/get-max.spec.js
workshops/01-tidy-code/03-get-max/testem.json
workshops/01-tidy-code/node_modules
workshops/01-tidy-code/package-lock.json
workshops/01-tidy-code/package.json
workshops/01-tidy-code/testem.json
workshops/01-tidy-code/yarn.lock

workshops/02-loops/01-only-odds/only-odds.spec.js
workshops/02-loops/01-only-odds/testem.json
workshops/02-loops/02-crazy-caps/crazy-caps.spec.js
workshops/02-loops/02-crazy-caps/testem.json
workshops/02-loops/03-bacteria-time/bacteria-time.spec.js
workshops/02-loops/03-bacteria-time/testem.json
workshops/02-loops/04-exponentiate/exponentiate.spec.js
workshops/02-loops/04-exponentiate/testem.json
workshops/02-loops/05-my-slice/my-slice.spec.js
workshops/02-loops/05-my-slice/testem.json
workshops/02-loops/06-my-index-of/my-index-of.spec.js
workshops/02-loops/06-my-index-of/testem.json
workshops/02-loops/07-most-vowels/most-vowels.spec.js
workshops/02-loops/07-most-vowels/testem.json
workshops/02-loops/package-lock.json
workshops/02-loops/package.json
workshops/02-loops/testem.json
workshops/02-loops/yarn.lock

workshops/03-coercion-and-truthiness/01-how-equal/how-equal.spec.js
workshops/03-coercion-and-truthiness/01-how-equal/testem.json
workshops/03-coercion-and-truthiness/02-is-truthy/is-truthy.spec.js
workshops/03-coercion-and-truthiness/02-is-truthy/testem.json
workshops/03-coercion-and-truthiness/03-my-or-my-and/my-or-my-and.spec.js
workshops/03-coercion-and-truthiness/04-only-one/testem.json
workshops/03-coercion-and-truthiness/05-zero-dark-thirty/zero-dark-thirty.spec.js
workshops/03-coercion-and-truthiness/05-zero-dark-thirty/testem.json
workshops/03-coercion-and-truthiness/package-lock.json
workshops/03-coercion-and-truthiness/package.json
workshops/03-coercion-and-truthiness/testem.json
workshops/03-coercion-and-truthiness/yarn.lock

workshops/04-scope/01-fullstack-hq/fullstack-hq.spec.js
workshops/04-scope/01-fullstack-hq/testem.json
workshops/04-scope/02-incremental-change/incremental-change.spec.js
workshops/04-scope/02-incremental-change/testem.json
workshops/04-scope/03-sum-things-wrong/sum-things-wrong.spec.js
workshops/04-scope/03-sum-things-wrong/testem.json
workshops/04-scope/04-sniper-scope/sniper-scope.spec.js
workshops/04-scope/04-sniper-scope/testem.json
workshops/04-scope/05-scope-koans/scope-koans.spec.js
workshops/04-scope/05-scope-koans/testem.json
workshops/04-scope/package-lock.json
workshops/04-scope/package.json
workshops/04-scope/testem.json
workshops/04-scope/yarn.lock

workshops/05-arrays-i/01-odd-couple/odd-couple.spec.js
workshops/05-arrays-i/01-odd-couple/testem.json
workshops/05-arrays-i/02-my-includes/my-includes.spec.js
workshops/05-arrays-i/02-my-includes/testem.json
workshops/05-arrays-i/03-my-last-index-of/my-last-index-of.spec.js
workshops/05-arrays-i/03-my-last-index-of/testem.json
workshops/05-arrays-i/04-my-reverse/my-reverse.spec.js
workshops/05-arrays-i/04-my-reverse/testem.json
workshops/05-arrays-i/05-my-unshift/my-unshift.spec.js
workshops/05-arrays-i/05-my-unshift/testem.json
workshops/05-arrays-i/package-lock.json
workshops/05-arrays-i/package.json
workshops/05-arrays-i/testem.json
workshops/05-arrays-i/yarn.lock

workshops/06-arrays-ii/01-even-and-odd/even-and-odd.spec.js
workshops/06-arrays-ii/01-even-and-odd/testem.json
workshops/06-arrays-ii/02-array-flattener/array-flattener.spec.js
workshops/06-arrays-ii/02-array-flattener/testem.json
workshops/06-arrays-ii/03-zoo-inventory/zoo-inventory.spec.js
workshops/06-arrays-ii/03-zoo-inventory/testem.json
workshops/06-arrays-ii/04-make-grid/make-grid.spec.js
workshops/06-arrays-ii/04-make-grid/testem.json
workshops/06-arrays-ii/05-remove-columns/remove-columns.spec.js
workshops/06-arrays-ii/05-remove-columns/testem.json
workshops/06-arrays-ii/06-my-join/my-join.spec.js
workshops/06-arrays-ii/06-my-join/testem.json
workshops/06-arrays-ii/07-my-slice/my-slice.spec.js
workshops/06-arrays-ii/07-my-slice/testem.json
workshops/06-arrays-ii/08-rotate-array/rotate-array.spec.js
workshops/06-arrays-ii/08-rotate-array/testem.json
workshops/06-arrays-ii/package-lock.json
workshops/06-arrays-ii/package.json
workshops/06-arrays-ii/testem.json
workshops/06-arrays-ii/yarn.lock

workshops/07-objects/01-last-friday-night/last-friday-night.spec.js
workshops/07-objects/01-last-friday-night/testem.json
workshops/07-objects/02-compare-objects/compare-objects.spec.js
workshops/07-objects/02-compare-objects/testem.json
workshops/07-objects/03-leet-translator/leet-translator.spec.js
workshops/07-objects/03-leet-translator/testem.json
workshops/07-objects/04-pet-sounds/pet-sounds.spec.js
workshops/07-objects/04-pet-sounds/testem.json
workshops/07-objects/05-frequency-analysis/frequency-analysis.spec.js
workshops/07-objects/05-frequency-analysis/testem.json
workshops/07-objects/06-dog-breeder/dog-breeder.spec.js
workshops/07-objects/06-dog-breeder/testem.json
workshops/07-objects/07-attendance-check/attendance-check.spec.js
workshops/07-objects/07-attendance-check/testem.json
workshops/07-objects/package-lock.json
workshops/07-objects/package.json
workshops/07-objects/testem.json
workshops/07-objects/yarn.lock

workshops/12-recursion-i/01-count-to-ten/count-to-ten.spec.js
workshops/12-recursion-i/01-count-to-ten/testem.json
workshops/12-recursion-i/02-backward-string/backward-string.spec.js
workshops/12-recursion-i/02-backward-string/testem.json
workshops/12-recursion-i/03-sum-nums/sum-nums.spec.js
workshops/12-recursion-i/03-sum-nums/testem.json
workshops/12-recursion-i/04-count-vowels/count-vowels.spec.js
workshops/12-recursion-i/04-count-vowels/testem.json
workshops/12-recursion-i/05-reverse-array/reverse-array.spec.js
workshops/12-recursion-i/05-reverse-array/testem.json
workshops/12-recursion-i/06-sum-digits/sum-digits.spec.js
workshops/12-recursion-i/06-sum-digits/testem.json
workshops/12-recursion-i/07-is-palindrome/is-palindrome.spec.js
workshops/12-recursion-i/07-is-palindrome/testem.json
workshops/12-recursion-i/package-lock.json
workshops/12-recursion-i/package.json
workshops/12-recursion-i/testem.json
workshops/12-recursion-i/yarn.lock

workshops/13-recursion-ii/01-array-sum/array-sum.spec.js
workshops/13-recursion-ii/01-array-sum/testem.json
workshops/13-recursion-ii/02-all-systems-go/all-systems-go.spec.js
workshops/13-recursion-ii/02-all-systems-go/testem.json
workshops/13-recursion-ii/03-the-truth-counts/the-truth-counts.spec.js
workshops/13-recursion-ii/03-the-truth-counts/testem.json
workshops/13-recursion-ii/04-get-longest-name/get-longest-name.spec.js
workshops/13-recursion-ii/04-get-longest-name/testem.json
workshops/13-recursion-ii/05-search-party/search-party.spec.js
workshops/13-recursion-ii/05-search-party/testem.json
workshops/13-recursion-ii/package.json
workshops/13-recursion-ii/package-lock.json
workshops/13-recursion-ii/testem.json
workshops/13-recursion-ii/yarn.lock